.Header {
    background: rgb(145, 145, 127); 
       
   .menu {
      background-color: rgb(56, 55, 55);
      text-align: center;

      .logo { 
         font-size: 30px;
         display: inline-block;
         color: red;
         padding: 5px;
         font-style: italic;
      }
   }
}
@media screen and (min-width: 600px) {
   .Header {
            border-radius:  5px;
        .menu {     
          background: rgb(77, 88, 77);
           .logo {
             color: rgb(236, 161, 161);
             font-style: italic;
             font-size: 30px;
          }
       }
    }
} 
@media screen and (min-width: 800px) {
  .Header {
     .menu {         
        background: rgb(88, 103, 105);
       .logo {
         color: rgb(255, 187, 0);
         font-style: oblique;
         font-size: 30px;
       }
     }
   }
}