.Header {
   background: rgb(207, 207, 152); 
      
   .menu {
      background-color: rgb(56, 55, 55);
      text-align: center;

      .logo { 
         font-size: 30px;
         display: inline-block;
         color: red;
         padding: 5px;
         font-style: italic;
      }
   }
}
@media screen and (min-width: 600px) {
   .Header {
            border-radius:  5px;
      .menu {     
         background: rgb(41, 49, 41);
         .logo {
            color: rgb(252, 6, 6);
            font-style: italic;
            font-size: 30px;
         }
      }
   }
} 
@media screen and (min-width: 800px) {
.Header {
      .menu {         
         background: rgb(44, 49, 49);
         .logo {
            color: rgb(250, 185, 6);
            font-style: oblique;
            font-size: 30px;
         }
      }
   }
}