.Header {
          background: rgb(145, 145, 127); 
          padding: 5px;     
         
  .menu {
        background-color: rgb(56, 55, 55);

    a { 
       font-size: 20px;
       display: inline-block;
       color: rgb(214, 213, 213);
       padding: 10px;
       text-decoration: none;

    &:hover {
       background-color: rgb(90, 90, 90);
       color: white;
       transition: .7s;
    }
    } 
    .menu-right {
       float: right;

    } 
  }
}
@media screen and (min-width: 600px) {
   .Header {
            border-radius:  5px;
      .menu {     
          background: rgb(114, 131, 114);
        a {
          color: maroon;
          font-style: italic;
          font-size: 25px;
        }
      }
    }
} 
@media screen and (min-width: 800px) {
    .Header {
       .menu {         
          background: rgb(114, 133, 136);
         a {
           color: rgb(3, 10, 3);
           font-style: inherit;
           font-size: 30px;
         }
       }
     }
 }