.ContactForm {
    border: solid 1px white;
    padding: 20px;
    
        &.form-invalid {
            border: solid 2px black;
            background-color: rgb(192, 187, 147);
        }
        .error-message {
            border: solid 5px red;
            background-color: rgb(255, 215, 35);
            padding: 20px;
            margin-bottom: 50px;   
        } 

    .form-group {
        margin-bottom: 20px;

        .left {
            font-weight: bold;
            font-size: 20px;
            padding: 10px;
        }
        input, textarea {
            box-sizing: border-box;
            font-size: 20px;
            padding: 10px;
            width: 100%;

            &.invalid {
                border: solid  red;   
                background-color: rgb(255, 166, 166);         
            }
        }

        textarea {
            height: 300px;
        }

        button {
            background-color: rgb(43, 41, 41);
            color:white;
            border: none;
            font-size: 20px;
            line-height: 50px;
            padding: 0px 20px;

            &:hover {background-color: rgb(105, 102, 102);}
            &:active { background-color: white; color: rgb(61, 61, 134);}
            
        }
    }
}
@media screen and (min-width: 600px) {
    .ContactForm {
        .form-group {
            display: flex;

            .left  { flex: 1; text-align: right; }
            .right { flex: 2; }
        }
    }
}