.Nav    { 

    font-size: 20px;
    background-color: rgb(203, 204, 200); 
    padding: 10px; 

    .menubars {
        
        width: 30px;
        height: 30px;

        position: absolute;
        right: 20px;
        top: 15px;
        color: rgb(145, 145, 145); 

        display: block;

        svg {
            width: 100%;
            height: auto;
        }
        &:hover{
            color: white;          
        }
    }

    .leftmenu {

         .left {      
            width: 30px;
            height: 30px;
            position: absolute;
         
            svg {
              width: 70%;
              height: auto;
            }
            color: rgb(145, 145, 145);  
        
            &:hover{
            color: white;          
            }
        }
            .search { left: 20px; top: 22px; }
            .registr { left: 70px; top: 22px; }
            .bag { left:  125px; top: 21px; }
    }
    .links {
        text-align: center;
        border-radius: 10px;
        
       a {
           background-color: rgb(138, 155, 137);
           color: black;
           
           
           display: block;
           padding: 5px;
           border-radius: 5px;
           margin: 10px;
           font-size: 25px;


           text-decoration: none;
           text-transform: uppercase;
           border: solid black;

           transition: all .7s;

           &:hover {
            background-color: rgb(96, 100, 107);
            color: rgb(184, 184, 162);
            border: solid rgb(184, 184, 162);
           }
           &.active {
               background-color: rgb(96, 100, 107);
           }
        }
    }
}
@media screen and (min-width: 600px) {
    .Nav {
        background-color: rgb(134, 155, 117);

          .menubars {
              display: none;
          }
        .links {
            a {
                display: inline-block;
                color: rgb(20, 243, 68);
            }   
        }
    }
}
@media screen and (min-width: 800px) {
    .Nav {
        background-color: rgb(122, 121, 100);

        .menubars{
            font-size: 40px;
        }      
        .links {
            a {
                display: inline-block;
                color: white;
            }      
        }
    }
}