.Nav    { 
    background-color: rgb(179, 185, 162); 
    padding: 20px; 

    .menubars {
        display: block;

        color: rgb(145, 145, 145);  
       
        width: 30px;
        height: 30px;

        position: absolute;
        right: 20px;
        top: 15px;

        svg {
            width: 100%;
            height: auto;
        }
        &:hover{
            color: white;          
        }
    }

    .leftmenu {

         .left {      
            width: 30px;
            height: 30px;
            position: absolute;
         
            svg {
              width: 70%;
              height: auto;
            }
            color: rgb(145, 145, 145);  
        
            &:hover{
            color: white;          
            }
        }
            .search { left: 20px; top: 22px; }
            .registr { left: 70px; top: 22px; }
            .bag { left:  125px; top: 21px; }
    }
    .links {
        text-align: center;
        border-radius: 10px;
        
       a {
           background-color: rgb(74, 116, 72);
           color: black;
           
           
           display: block;
           padding: 15px;
           border-radius: 5px;
           margin: 20px;
           font-size: 25px;


           text-decoration: none;
           text-transform: uppercase;
           border: solid black;

           transition: all .7s;

           &:hover {
            background-color: rgb(96, 100, 107);
            color: rgb(184, 184, 162);
            border: solid rgb(184, 184, 162);

           }
        }
    }
}
@media screen and (min-width: 600px) {
    .Nav {
        background-color: rgb(134, 155, 117);
          

        .links {
            a {
                display: inline-block;
                color: maroon;
            }   
        }
    }
}
@media screen and (min-width: 800px) {
    .Nav {
        background-color: rgb(122, 121, 100);
        
        .links {
            a {
                display: inline-block;
                color: white;
            }      
        }
    }
}