body {
      background-color: ivory;
     // margin: 0px;
     
}

.App {
  
     min-width: 320;
     max-width: 1000;
}

@media screen and (min-width:600px) {
    body {
          background-color: rgb(196, 196, 189);
    }
}

@media screen and (min-width:800px) {
    body {
          background-color: rgb(219, 210, 208);
    }
}